// Package {{PACKAGE}} {{one-line-purpose-statement}}.
//
// {{longer-paragraph-describing-what-the-package-provides-and-how-it-fits-into-the-larger-system}}
//
// Example:
//
//	{{example-code-block-illustrating-typical-usage}}
//
// {{additional-detail-if-warranted-otherwise-omit-this-paragraph}}
package {{PACKAGE}}
